@using static Presentations.Models.AssignedCommon;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<h4>AssignedProperty</h4>
<hr />
@using (Html.BeginForm("Create","Assigned", FormMethod.Post))
{
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Tenant Info</h3>
                        </div>
                        <form asp-action="Create" asp-controller="Assigned" class="form-horizontal">
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-lab">Property Dropdown</label>
                                        @Html.DropDownList("ddlpropertylist", (List<SelectListItem>)ViewBag.Locations, new {  @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Tenant Dropdown</label>
                                        @Html.DropDownList("ddltenant", (List<SelectListItem>)ViewBag.tenant, new {  @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Transatype Dropdown</label>
                                        @*@Html.DropDownList("trans", (List<SelectListItem>)ViewBag.trans, new { id = "ddltrans", @class = "form-control" })*@
                                        @Html.DropDownList("Trans Dropdown", new SelectList(Enum.GetValues(typeof(transtype))), "Select Trans", new {@class = "form-control"})
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4" >
                                        <label class="control-label">Amount</label>
                                        <input id="txtamount" name="txtamount" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label>Transatype Dropdown</label>
                                        @Html.DropDownList("PayAs", new SelectList(Enum.GetValues(typeof(payas))), "Select Pay As", new {@class = "form-control"})
                                    </div>
                                    <div class="form-group col-md-3" >
                                        <label>Start Date: </label>
                                        <div class="input-group date" id="startdate" data-target-input="nearest">
                                            <input type="date" id="dtstartdate" name="dtstartdate" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3" >
                                        <label>End Date: </label>
                                        <div class="input-group date" id="enddate" data-target-input="nearest">
                                            <input type="date" id="dtenddate" name="dtenddate" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3" >
                                        <label class="control-label">PayableAmount</label>
                                        <input type="text" class="form-control" id="payamount">
                                    </div>
                                </div>
                                <div class="row d-flex">
                                    <div class="form-group col-md-4 align-items-center d-flex pl-5">
                                         <input type="checkbox" class="  form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">CheckBox</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Date: </label>
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                            <input type="date" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 d-flex align-items-center justify-content-end pr-5 gap-md-5">
                                        <input type="button" value="Calculate" id="btnGet" class="btn btn-success " />
                                        <input type="reset" value="cancel" class="btn btn-danger" />
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <tr>
                                    <th>startdate</th>
                                    <th>enddate</th>
                                    <th>amount</th>
                                </tr>
                            </table>
                            <div>
                                <input type="submit" value="Submit" id="btnsubmit" class="btn btn-success " />
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#btnGet").click(function () {

                $.ajax({
                    type: "POST",
                    url: "/RentCount/calculaterent",
                    data: {'startdate': '01/02/2023','enddate': '15/02/2023','amount': '1500'},
                    
                    success: function (response) {
                        for(var i=0;i<response.length;i++){
                            tr = $('<tr/>');
                            tr.append("<td>" + response[i].startdate+"</td>");
                            tr.append("<td>" + response[i].enddate + "</td>");
                            tr.append("<td>" + response[i].amount + "</td>");
                            $('table').append(tr);
                        }
                       //alert("Successfully Get Records");
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>

}


@*contentType: "application/json; charset=utf-8",
                    dataType: 'json',*@
@*var rent = '{startdate: "01/02/2023",enddate: "15/02/2023",amount: "150"}';*@

                    @*alert("Hello: " + response.startdate + ".\nCurrent Date and Time: " + response.DateTime);*@