@model DomainLayer.Models.PropertyInfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
@*
<h1>Create</h1>

<h4>PropertyInfo</h4>
<hr />*@
<section class="contect">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Property Info</h3>
                    </div>
                    <form asp-action="Create" class="form-horizontal">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Property Name</label>
                                    <input asp-for="name" class="form-control" />
                                    <span asp-validation-for="name" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Transection Type</label>
                                    <input asp-for="transtpetype" class="form-control" />
                                    <span asp-validation-for="transtpetype" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Select Owner</label>
                                    @Html.DropDownList("ddlowner", (List<SelectListItem>)ViewBag.owners, new {  @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Address 1</label>
                                    <input asp-for="address1" class="form-control" />
                                    <span asp-validation-for="address1" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Address 2</label>
                                    <input asp-for="address2" class="form-control" />
                                    <span asp-validation-for="address2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Select Country</label>
                                    @Html.DropDownList("ddlcountry", (List<SelectListItem>)ViewBag.country, new {  @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Select State</label>
                                    @Html.DropDownList("ddlsateid", (List<SelectListItem>)ViewBag.state, new {  @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Select City</label>
                                    @Html.DropDownList("ddlcity", (List<SelectListItem>)ViewBag.city, new {  @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">ZipCode</label>
                                    <input asp-for="zip" class="form-control" />
                                    <span asp-validation-for="zip" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Latitude</label>
                                    <input asp-for="latitude" class="form-control" />
                                    <span asp-validation-for="latitude" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                   <label class="control-label">Longitude</label>
                                    <input asp-for="longitude" class="form-control" />
                                    <span asp-validation-for="longitude" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Description</label>
                                    <textarea asp-for="description" class="form-control" ></textarea>
                                    <span asp-validation-for="description" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Specification</label>
                                    <textarea asp-for="specification" class="form-control"></textarea>
                                    <span asp-validation-for="specification" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Available Date</label>
                                    <input asp-for="availabledate" class="form-control" />
                                    <span asp-validation-for="availabledate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                
                            </div>
                            <div class="float-right">
                                <input type="submit" value="Submit" class="btn btn-success" />
                                <input type="reset" value="Cancel" class="btn btn-danger" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@*
<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}